*{
	margin: 0;
	padding: 0;
	font-family: 'Barlow Condensed', sans-serif;
}

p{
	line-height: 25px;
}
.logo{
    width: 30%;
    float: left;
}
header{
    padding: 55px 0px;
}
.container{
    width: 1200px;
    margin: auto;
    overflow: hidden;
}
.container img{}
nav{
    width: 70%;
    float: left;
}
nav ul{
    display: flex;
    justify-content: flex-end;
}
nav ul li{
	list-style: none;
}
nav ul li a{
    text-decoration: none;
    justify-content: flex-end;
    color: #000000a8;
    padding: 0px 110px;
    text-transform: uppercase;
    padding-right: 0;
}
.banner-section{}
.banner-section img{
	width: 100%;
	padding-bottom: 62px;
}
.gateway-section{
    padding: 70px o;
}
.wrapper{
    width: 1000px;
    margin: auto;
    background-color: F0F0F0;
}
.gateway-content{}
.gateway-content a{
    color: #00000057;
    text-decoration: none;
    text-transform: uppercase;
}
.gateway-content h2{
    color: #170000a1;
    padding: 20px 0;
}
.gateway-content p{
    padding-bottom: 25px;
    color: #000000ad;
}
.lifestyle-section{
    padding: 70px 0;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-1-2{
    width: 45%;
    flex-basis: 45%;
}
.col-1-2 img{
    width: 100%;
    display: block;
}
.col-1-2 h2{
	color: #000000ad;padding: 20px 0;}
.col-1-2 a{
    text-decoration: none;
    color: #00000057;
    text-transform: uppercase;
    display: block;
    padding-top: 35px;
}
.col-1-2 p{
    color: #000000ad;
}

footer{
    background-color: #F0F0F0;
    padding: 35px 0;
}
.copyright{}

.copyright ul{
    display: flex;
    list-style: none;
    color: black;
}
.copyright ul li{}
.copyright ul li a{
    text-decoration: none;
    color: #0000007d;
    padding: 25px;
}

.social{
}
.social ul{
    display: flex;
}
.social ul li{
    list-style: none;
}
.social ul li a{
    text-decoration: none;
    color: #0000007d;
    padding: 20px;
}

